html,
body{ height:100%;
}
	
	div.page-header{
		font-family:"Comic Sans MS", cursive, sans-serif;
		
		 }
		 #cover{
    
    background-image: url('backyard.JPG') center center no-repeat;
    background-size: cover;
    color:white;
    height:100%;
}

	
div.container{
    
  font-family: 'Bungee', cursive;
 

     
}
 h1 {text-shadow:4px 4px 5px black;}

p{text-shadow:0px 0px 12px black; }

@media all and (max-width: 1500px) { /* screen size until 1200px */
    body {
        font-size: 1.7em; /* 1.5x default size */
        
    }
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    
    }

@media all and (max-width: 992px) { /* screen size until 1200px */
    body {
        font-size: 1.4em; /* 1.5x default size */
    
    }
}
@media all and (max-width: 768px) { /* screen size until 1000px */
    body {
        font-size: 1.9em; /* 1.2x default size */
        
        }
    }
    @media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.4em; /* 0.8x default size */
        
        }
    }
@media all and (max-width: 670px) { /* screen size until 500px */
    body {
        font-size: 1.5em; /* 0.8x default size */
        }
    }


    .mycarousel{
margin-top: 0px;
margin-bottom: 10px;

    }
    #callus{
        padding: 20px;
    }